
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    background-position: center;
    background-size: cover;
}
canvas{
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
}
#bb{
    float: left;
    background-color:indianred;
    color: whitesmoke;
    font-size: 17px;
    border-radius: 5px;
}